@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "Montserrat", sans-serif;
  color: var(--text-black);
}

:root{
  --text-black: #333332;
  --primary-color: #FAF4E5;
  --primary-blue: #7f95be;
  --primary-pink: #be7fb5;
  --primary-green: #7fbe90;
}

/* Experience --------------------------------- */

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

/* Page Itself ---------------------------------- */

.page{
  z-index:99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper{
  position: relative;
}

/* Section Formatting -------------------------- */

.section-margin{
  height: 3000px;
  width: 100%;
}

.section{
  width: 50%;
  padding: 400px 4%;
  margin: 0;
  background-color: var(--primary-color);
}

.left{
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 700px 700px;
}

.right{
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 700px 700px;
}

/* Progress bars */

.progress-wrapper{
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left{
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right{
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--primary-blue);
  transform-origin: top center;
  transform: scaleY(1);
}

/* Sections -------------- */

.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 3px solid var(--primary-blue);
  padding-bottom: 400px;
}

.section-detail-wrapper{
  position: relative;
  padding: 20% 5%;
}

.section-heading{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--text-black);
}

.section-text{
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--text-black);
}

/* Fancy Decoration Part of Section ------------ */

.section-title{
  position: relative;
  color: var(--primary-blue)
}

.section-title-text{
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
  color: var(--primary-blue);
}

.styleOne,
.styleTwo,
.styleThree{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--primary-blue);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne{
  top: 0px;
}

.styleTwo{
  top: 80px;
}

.styleThree{
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--primary-blue);
}

.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--primary-blue);
  font-size: 24px;
}

/* Hero section -------------------------------- */

.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main{
  position: absolute;
  bottom: 100px;
  left: 0;
}

.hero-second{
  position: absolute;
  top: calc(50% - 320px);
  right: 0;
}

.hero-main-title{
  font-size: 64px;
}

.hero-main-description{
  font-size: 18px;
}

.hero-second-subheading{
  font-size: 32px;
  text-transform: uppercase;
}

/* Other Colors ------------------- */

.pink-text{
  color: var(--primary-pink);
}

.pink-border{
  border-color: var(--primary-pink);
}

.pink-background{
  background-color: var(--primary-pink);
}

.green-text{
  color: var(--primary-green);
}

.green-border{
  border-color: var(--primary-green);
}

.green-background{
  background-color: var(--primary-green);
}

/* Buttons */
.btn {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  /* border-radius: .25rem; */
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-top: 12px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

/* Media Queries */

@media (max-width: 968px){
  .section{
    width: 100%;
  }
  .progress-bar-wrapper-left{
    right: 0;
    left: auto;
  }
  .hero-main{
    bottom: 120px;
  }
  .hero-second{
    top: 160px;
  }
  .hero-wrapper{
    width: calc(100% - 60px);
  }
  .hero-main-title{
    font-size: 32px;
  }
  .hero-main-description{
    font-size: 18px;
  }
  .hero-second-subheading{
    font-size: 18px;
  }
}